body{
    background-color: #c9a800;
}

h1{
    font-size: 3.5rem;
}

#sz{
    font-size: 2rem;
    padding: 3px;
    border-style: solid;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    border-color: black;
}

::placeholder{
    color: red;
}


#genShape{
    margin: 4rem;
    width: 24rem;
    height: 2em;
    font-size: 2em;
    background-color: #e3ad0a;
    border-style: solid;
    border-width: 0.25rem;
    border-color: black;
    border-radius: 0.5rem;
}

#shape{
    width: 0px;
    height: 0px;
    background-color: blue;
    transition: 1.5s linear;
    margin-bottom: 5rem;
}

#grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inner{
    /* background-color: red; */
    margin: auto;
    display: flex;
    flex-direction: row;
}

.iin{
    margin: 1px;
    border-radius: 0%;
    animation-name: example;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
